@model UsuarioModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = ViewBag.ErrorMessage as string;
}

<h1>Guardar</h1>



<div class="card">
    <div class="card-header">
        Crear Usuarios
    </div>
    <div class="card-body">

        <form asp-action="Guardar" asp-controller="Usuarios" method="post">
            
            <div class="mb-3">
                <label class="form-label">Nombres</label>
                <input asp-for="Nombre" type="text" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellidos</label>
                <input asp-for="Apellidos" type="text" class="form-control">
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="text" class="form-control" placeholder="Ingrese Correo">
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Contrasena" type="password" class="form-control">
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Cargo</label>
                <input asp-for="Cargo" type="text" class="form-control">
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <select class="form-select" id="seleccioneRol" name="Rol" asp-for="Rol">
                    <option value="" disabled selected>Seleccione un rol</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Coordinador">Coordinador</option>
                    <option value="Tecnico">Técnico</option> <!-- Asegúrate de que cada valor sea único -->
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Seleccionar Imagen (PNG), Fondo Transparente </label>
                <input type="file" id="imagenInput" class="form-control" accept="image/png">
                <input type="hidden" asp-for="ImagenBase64" id="imagenBase64">
                <span asp-validation-for="ImagenBase64" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Usuarios" class="btn btn-warning">Volver a la lista</a>
        </form>



    </div>
</div>
<script>
    document.getElementById('imagenInput').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (file && file.type === 'image/png') {
            const reader = new FileReader();
            reader.onload = function (event) {
                const base64String = event.target.result.split(',')[1]; // Obtener solo la parte Base64
                document.getElementById('imagenBase64').value = base64String;
            };
            reader.readAsDataURL(file);
        } else {
            alert('Por favor, seleccione un archivo PNG válido.');
        }
    });
</script>