@model AdicionalesModel
@{
    ViewData["Title"] = "Guardar - Adicionales";
}
<h1>Guardar</h1>



<div class="card">
    <div class="card-header">
        Crear Adicional
    </div>
    <div class="card-body">

        <form asp-action="Guardar" asp-controller="Adicionales" method="post">

            <div class="mb-3">
                <select class="form-select" id="seleccioneCategoria" name="idCategoria">
                    <option value="0" disabled selected>Seleccione un Categoria</option>
                    @if (ViewData["Categoria"] != null)
                    {
                        var Categorias = (List<AdicionalesModel>)ViewData["Categoria"];
                        foreach (var Categoria in Categorias)
                        {
                            <option value="@Categoria.idCategoria">Ctg:@Categoria.Categoria - Mo:@Categoria.Modelo</option>
                        }
                    }
                    else
                    {
                        <option value="0">No hay Articulos disponibles</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Serial</label>
                <input asp-for="Serial" type="text" class="form-control" placeholder="Ingrese Serial">
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Placa</label>
                <input asp-for="Placa" type="text" class="form-control">
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Adicionales" class="btn btn-warning">Volver a la lista</a>
        </form>



    </div>
</div>