@model ArticulosModel

@{
    ViewData["Title"] = "Editar - Articulo";
}

<div class="card">
    <div class="card-header">
        Editar Articulos
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Articulos" method="post">
            <input asp-for="idArticulo" type="hidden" type="text" class="form-control" />
            
            <br />
            <div class="mb-3">
                <label class="form-label">Categoria</label>
                <select class="form-select" id="seleccioneCategoria" name="idCategorias">
                    <option value="0" disabled>Seleccione un Categoria</option>
                    @if (ViewData["Categoria"] != null)
                    {
                        var Categorias = (List<ArticulosModel>)ViewData["Categoria"];
                        foreach (var Categoria in Categorias)
                        {
                            <option value="@Categoria.idCategoria">
                                Ctg:@Categoria.Categoria - Mo:@Categoria.Modelo
                            </option>

                        }
                    }
                    else
                    {
                        <option value="0">No hay Categoria disponibles</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Serial</label>
                <input asp-for="Serial" type="text" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Placa</label>
                <input asp-for="Placa" type="text" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Articulos" class="btn btn-warning">Volver a la lista</a>

        </form>
    </div>
</div>

<script>
    // Esperar a que el documento esté listo
    document.addEventListener("DOMContentLoaded", function () {
        // Obtener el valor de idCategorias desde el modelo
        var idCategoriaSeleccionado = @Model.idCategoria;

        // Obtener el elemento select
        var selectCategoria = document.getElementById("seleccioneCategoria");

        // Verificar si existe el Categoria seleccionado
        if (selectCategoria) {
            for (var i = 0; i < selectCategoria.options.length; i++) {
                if (parseInt(selectCategoria.options[i].value) === idCategoriaSeleccionado) {
                    selectCategoria.selectedIndex = i; // Selecciona el Categoria
                    break; // Salir del bucle una vez encontrado
                }
            }
        }
    });
</script>