@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = null;
}

<h1>Acceso Denegado</h1>
<p>No tienes permisos para acceder a esta página.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Regresar</a>