@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    var userRole = HttpContextAccessor.HttpContext.User.IsInRole("Administrador") ? "Administrador" : "Usuario";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido, @userRole</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
