@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = null;
}
<html>

<head>
    <title>Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="icon" href="https://i.ibb.co/J3nxzCX/icon.png" type="image/png">
</head>

<body>
    <div class="container">
        <div class="left">
            <div>
                <img src="~/img/logo.svg" alt="Logo" />
                <h1>Gestión de activos</h1>
            </div>
        </div>
        <div class="right">
            <h2>Iniciar sesión</h2>
            <form asp-controller="Login" asp-action="ResultadoLogin" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <label for="username">Correo</label>
                    <input type="email" id="Correo" name="Correo" placeholder="Ingresa Correo">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                    <i class="fas fa-user"></i>
                </div>
                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="Clave" name="Clave" placeholder="Ingresa Contraseña">
                    <span asp-validation-for="Clave" class="text-danger"></span>
                    <i class="fas fa-lock"></i>
                </div>

                @if (TempData["Message"] != null)
                {
                    var messageType = TempData["MessageType"]?.ToString() ?? "info";
                    var alertClass = messageType == "success" ? "alert-success" : "alert-danger";

                    <div class="alert @alertClass" role="alert">
                        @TempData["Message"]
                    </div>
                }
                <button type="submit" class="btn login-btn">Iniciar Sesión</button>

            </form>

        </div>
    </div>
</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}